<table class="table table-bordered table-striped table-responsive">
  <thead>
    <tr>
      <% _.each(columns, function(column) { %>
          <th data-field-name="<%- column %>">
             <%- column %>
             <% if(typeof(sort) !== 'undefined' && sort.attribute === column) { %>
                 <span class="glyphicon glyphicon-chevron-<%- sort.direction === 'asc' ? 'up' : 'down' %>"></span>
             <% } %>
          </th>
      <% }); %>
    </tr>
  </thead>

  <tbody>
    <% _.each(rows, function(row) { %>
      <tr>
        <% _.each(columns, function(column) { %>
          <td><%- row[column] %></td>
        <% }); %>
      </tr>
    <% }); %>
  </tbody>

</table>
